.animation button{
  background-image: linear-gradient(to right, #11429d 0%, #f22957 51%, #11429d 100%);
    animation: placeholderShimmer 10s linear 0s infinite normal forwards;
    border-radius: 20px;
    margin-left: 35%;
}

.app {
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  color: #030856;
  font-size: 33px;
}

.app img {
 position: fixed;
 top:5;
}

.imgbutton {
  margin-top: 0px;
}

.modal-header .close {
  margin: 0;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background-color: #00aeef;
  color: #ffe300;
  font-size: 9px;
  opacity: 1;
  z-index: 10;
}


@font-face {
  font-family: 'PlayfairDisplay';
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@keyframes placeholderShimmer{
  0% {
      background-position: 0px 0;
    }
    100% {
      background-position: 100em 0;
    }
}