.animation button{
  background-image: linear-gradient(to right, #11429d 0%, #f22957 51%, #11429d 100%);
    animation: placeholderShimmer 10s linear 0s infinite normal forwards;
    border-radius: 20px;
    margin-left: 35%;
}

.app {
  font-family: 'PlayfairDisplay';
  font-weight: bold;
  color: #030856;
  font-size: 33px;
}

.imgbutton {
  cursor: pointer;
}


@font-face {
  font-family: 'PlayfairDisplay';
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@keyframes placeholderShimmer{
  0% {
      background-position: 0px 0;
    }
    100% {
      background-position: 100em 0;
    }
}

@media screen and (max-height: 500px) and (max-width: 1000px){
  .modal-content.total {
    width:400px;
    margin-left: 8%;
  }

  .app{
    font-size: 15px;
  }
  .animation bottom{
    margin-left: 25%;
  }

  video {
    margin-left: 10%;
  }
}